version: '3'

networks:
  main:

volumes:
  etc-fusionpbx:
  etc-freeswitch:
  var-lib-freeswitch:
  usr-share-freeswitch:

services:
  fusionpbx:
    build: .
    volumes:
      - ./fusionpbx:/var/www/fusionpbx
      - etc-fusionpbx:/etc/fusionpbx
      - etc-freeswitch:/etc/freeswitch
      - var-lib-freeswitch:/var/lib/freeswitch
      - usr-share-freeswitch:/usr/share/freeswitch
    ports:
      - "5060:5060/udp"
      - "80:80"
      - "443:443"
    networks:
      main:
        aliases: 
          - fusion
    depends_on:
      - db
  db:
      image: postgres:10-alpine
      environment:
        POSTGRES_DB: 'fusionpbx'
        POSTGRES_USER: 'fusionpbx'
        POSTGRES_PASSWORD: '4321'
      networks:
        main:
          aliases:
            - db